html {
        background: url('../images/loginbg.jpg') no-repeat center fixed;     
        background-size: cover;
}

body {
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:monospace,'Courier New', Courier;
    
}


.grid-container {
    display: grid;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
    grid-template-columns: 55px auto auto 30px;
    background-color: lightgray;
    border: 2px outset #bebbbb;
}

.grid-title {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-image: linear-gradient(to right,blue -22%,rgb(94 174 240) 70%);
    text-align: left;
    padding-left: 15px;
    color: white;
    font-family:monospace,'Courier New', Courier;
    font-weight: bold;
}

.grid-body {
    grid-column: 1/ span 4;
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited{
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.passinput {
    margin-bottom: 3px;
}

.register_me {
    font-size:14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.agree {
    display: inline-block;
    margin-top: 7px;
}

.remembe_user {
    font-size: 14px;
    color: #a9a9a9;
    margin-right: 0px;
}

.ok_button {
    padding: 0 35px 0 35px;
}

.ok_button:hover {
    background: rgb(179, 177, 177);
}