html {
        background: url('../images/loginbg.jpg') no-repeat center fixed;     
        background-size: cover;
}

body {
    max-width: 1280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:monospace,'Courier New', Courier;
}


.grid-container {
    display: grid;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
    grid-template-columns: 55px auto auto 30px;
    background-color: lightgray;
    border: 2px outset #bebbbb;
    
}

.grid-title {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-image: linear-gradient(to right,blue -22%,rgb(94 174 240) 70%);
    text-align: left;
    padding-left: 15px;
    color: white;
    font-family:monospace,'Courier New', Courier;
    font-weight: bold;
}

.grid-titlebt {
    background-color: rgb(94 174 240);
    width: 30px;
}

.emptyline {
    grid-column: 1 / span 4;
    height: 24px;
}

.leftemoji {
    text-align: right;
    padding-right: 10px;
}

.entryfield {
    grid-column: 2 / span 2;
    
    border: 1px solid gray;
}